.ttable{
    width: 100%;
    border: 0;
    height: 100%;
    padding: 0;
    position: center;

}

.trea{
    resize: none;
    font-size: 16px;
    font-family: ו;
    vertical-align: top;
}

.tr{
    width: 49%;
    padding-top: 20px;
    margin: 10px;
    text-align: left;
}
.td{
    font-size: 20px;
    width: 200px;
}
.td input{
    height: 25px;
    outline: 0;
    font-size: 18px;
    margin-bottom: 25px;
    margin-top: 5px;
    border-radius: 8px;
    border-color: #C0C0C0 #D9D9D9 #D9D9D9;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0
    rgba(255, 255, 255, 0.2);
    transition: 0.5s;
}
.td input:hover{
    background: #d3d3d3;
}
.select{
    margin-bottom: 30px;
    font-size: 20px;
    width: 200px;

}
.firm{
    background-color: lawngreen;
    color: white;
}
footer{
    text-align: center;
}
footer input{
    font-size: 18px;
    border-radius: 20px;
    width: 100px;
    height: 35px;
    margin-left: 40px;
    margin-right: 20px;
    margin-top: 10px;
}